.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 100%;
}

/* ------------------ bloco header  ------------------ */

.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------ bloco nav  ------------------ */

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0%;
  font-style: normal;
  font-weight: 500;
}

/* ------------------ elemento logo  ------------------ */

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -50px;
}

/* ------------------ elemento nav__links  ------------------ */

.nav__links {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  list-style-type: none;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.nav__link {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #2f80ed;
  text-decoration: underline;
}

/* ------------------ elemento título  ------------------ */

.header__title {
  margin: 183px 0 0;
  padding: 0;
  max-width: 709px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.span-accent {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Noto Serif", "Times New Roman", "Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

/* ------------------ elemento descrição  ------------------ */

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  font-family: "Noto Serif", "Times New Roman", "Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.space-description {
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}

/* ------------------ elemento header__image  ------------------ */

.header__image {
  margin: 0;
  padding: 0;
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

/* ------------------ bloco header__footer  ------------------ */

.header__footer {
  margin-top: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  color: #838383;
}

/* ------------------ elemento header__content-hours  ------------------ */

.header__content-hours {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 500px;
}

/* ------------------ elemento header__paragraph  ------------------ */

.header__paragraph {
  margin: 0;
  padding: 0;
}

.header__paragraph_address {
  margin: auto 0 0;
  padding: 0;
}

/* ------------------ bloco recipes  ------------------ */

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 100px 80px 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* ------------------ elemento recipes__title ------------------ */

.recipes__title {
  margin: 0;
  padding: 0;
  max-width: 580px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
}

/* ------------------ elemento recipes__subtitle ------------------ */

.recipes__subtitle {
  margin: 24px 0 0 0;
  padding: 0;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", "Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

/* ------------------ elemento recipes__videos ------------------ */

.recipes__videos {
  margin-top: 80px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

/* ------------------ elemento videos-item  ------------------ */

.recipes__videos-item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  right: auto;
  width: auto;
}

/* ------------------ elemento iframe  ------------------ */

.recipes__iframe {
  margin: 0;
  padding: 0;
  height: 273px;
  width: 480px;
}

.recipes__iframe-shreksophone {
  border: none;
}

/* ------------------ elemento recipes__video-caption ------------------ */

.recipes__video-caption {
  margin: 24px 0 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
  position: relative;
}

.time-caption {
  position: absolute;
  right: 0;
}

/* ------------------ section reservation ------------------ */

.reservation {
  background-image: url("../images/background_reservation.svg");
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* ------------------ elemento reservation__title ------------------ */

.reservation__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

/* ------------------ bloco reservation__form ------------------ */

.reservation__form {
  margin: 64px 0 0;
}

.form {
  padding: 16px 20px;
  max-width: 385px;
  height: auto;
  box-sizing: border-box;
  width: 100%;
}

/* ------------------ elemento form__label ------------------ */

.form__label {
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
}

/* ------------------ elemento form__input ------------------ */

.form__input {
  margin: 8px 0 32px;
  padding: 15px 20px;
  height: 60px;
  border: 1px solid #838383;
  background-color: white;
  color: #838383;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__input:focus {
  outline-color: #fff6c5;
  border: 1px solid red;
}

/* ------------------ bloco form__fieldset ------------------ */

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
}

/* ------------------ elemento form__button ------------------ */
.form__button {
  margin: 0 0 32px;
  border: 0;
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  color: white;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.4s;
}

.form__button:hover {
  opacity: 0.7;
}

.form__button:focus {
  outline-color: #fff6c5;
}

/* ------------------ elemento form__input_checkbox ------------------ */

.form__label_checkbox {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input_checkbox {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}

/* ------------------ FOOTER  ------------------ */

* {
  scroll-behavior: smooth;
}
